<div
    style="align-self: {{block.settings.vertical-align-content}};"
    class="ds-component ds-component-feature ds-component-product-card flex flex-basis-{{section.settings.feature-basis}} flex-column"
>
  <div
    style="
      background: {{block.settings.background-color}};
      border-radius: {{block.settings.border-radius}};
    "
    class="flex full-width flex-column no-padding {% if block.settings.has-shadow %} shadow {% endif %}"
  > 
    {% if block.settings.emphasis != empty %}
      <span class="emphasis" style="background: {{block.settings.emphasis-background-color}}; color: {{block.settings.emphasis-font-color}};">
        {{block.settings.emphasis}}
      </span>
    {% endif %}
    {% if block.settings.has-icon %}
        <img loading="lazy" class="mobile-hide" style="
            border-top-right-radius:{{block.settings.border-radius}};
            border-top-left-radius: {{block.settings.border-radius}};
          " 
          src="
          {% if block.settings.has-icon %}
              {{ block.settings.icon-image | img_url: 'medium'}}
          {% else %}
              {{ 'ds-img-symbol.png' | asset_img_url: 'medium' }}
          {% endif %}"
        />
        <img loading="lazy" class="desktop-hide" style="
            display: flex !important;
            border-top-right-radius:{{block.settings.border-radius}};
            border-top-left-radius: {{block.settings.border-radius}};
          "
          src="
              {% if block.settings.has-icon-mobile %}
                  {{ block.settings.mobile-icon-image | img_url: 'medium'}}
              {% else %}    
                  {% if block.settings.has-icon %}
                      {{ block.settings.icon-image | img_url: 'medium'}} 
                  {% else %}
                      {{ 'ds-img-symbol.png' | asset_img_url: 'medium' }} 
                  {% endif %}
              {% endif %}
          "
        />
      {% endif %}
        <div class="component-product-card justify-center">
            {%- render 'ds-component-h3', 
              fontColor: block.settings.title-font-color, 
              backgroundColor: block.settings.background-color,
              fontSize: block.settings.font-size, 
              align: "center",
              fontWeight: block.settings.font-weight,
              text: block.settings.text
            -%}
            {% if block.settings.description-text != empty %}
              {%- render 'ds-component-paragraph', 
              fontColor: block.settings.description-font-color, 
              backgroundColor: block.settings.description-background-color,
              fontSize: block.settings.description-font-size, 
              align: "center",
              fontWeight: block.settings.description-font-weight,
              text: block.settings.description-text
              -%}
            {% endif %}
            {%- render 'ds-component-manual-price', 
                fontColor: block.settings.price-font-color, 
                backgroundColor: block.settings.price-background-color,
                fontSize: block.settings.price-font-size, 
                align: "center",
                fontWeight: block.settings.price-font-weight,
                value: block.settings.price-value,
            -%}
            {%- render 'ds-component-installment' 
              installment_number: block.settings.installment_number
              installment_number_font_color: block.settings.installment_number_font_color
              installment_number_font_size: block.settings.installment_number_font_size
              installment_price: block.settings.installment_price
              installment_price_font_color: block.settings.installment_price_font_color
              installment_price_font_size: block.settings.installment_price_font_size
            -%}
            {%- render 'ds-component-cta',
              backgroundColor: block.settings.cta-background-color, 
              fontColor: block.settings.cta-font-color, 
              fontSize: block.settings.cta-font-size, 
              fontWeight: block.settings.cta-font-weight, 
              link: block.settings.product-item.url,
              borderRadius: block.settings.cta-border-radius,
              align: "center",
              text: block.settings.cta-text,
              pulse: block.settings.cta-pulse,
            -%}
        </div>
    </div>
  </div>
    