<div class="ds-component ds-h3 justify-{{align}} grow-0">
  <h3 style="color:{{fontColor}}; font-size:{{fontSize}}em;"
    class="ProductMeta__PriceList weight-{{fontWeight}}">
    {{ text }}
  </h3>
</div>