<div class="ds-component ds-component-price justify-{{align}} grow-0">
  <h3 style="color:{{font_color}}; display:block; font-size:{{font_size}}em;"
    class="weight-{{fontWeight}}">
    {{value}}
  </h3>
</div>