<div class="ds-component ds-component-content-image image">
  <figure class="flex justify-{{image_align}}">
    <img 
      loading="lazy"
      class="{% if mobileContentImage != empty %} mobile-hide {% endif %}" src="{{ contentImage | img_url: 'master' }}"
      data-src="{{ contentImage | img_url: 'master' }} "
      alt="Component Content Image"
      height="{{desktop_content_image_size}}"
      width="{{desktop_content_image_size}}"
    />
    {% if mobileContentImage != empty %}
    <img 
      loading="lazy" 
      class="desktop-hide" 
      src="{{ mobileContentImage | img_url: 'master' }}"
      data-src="{{ mobileContentImage | img_url: 'master' }}" 
      alt="Component Content Image"
      height="{{mobile_content_image_size}}"
      width="{{mobile_content_image_size}}"
    />
    {% endif %}
  </figure>
</div>