<div
  style="align-self: {{block.settings.vertical-align-content}};"
  class="ds-component ds-component-feature flex flex-basis-{{section.settings.feature-basis}} justify-{{block.settings.align}} {{block.settings.feature-display}}"
>
  <div
    style="
      background: {{block.settings.background-color}};
      border-radius: {{block.settings.border-radius}};
    "
    class="grow-0 flex justify-center {{block.settings.feature-width}} component-feature feature-card {{featureDisplay}} {{block.settings.mobile-feature-display}} isCard regular-small no-padding {% if block.settings.has-shadow %} shadow {% endif %}"
    > 
      {% if block.settings.has-icon %}
      <div class="flex image-wrapper {% if block.settings.icon-size != '100%' %} component-feature-image-padding {% endif %} grow-0 justify-center align-items-{{block.settings.image-align}}">
      
        {% if block.settings.icon-image != null %}
          <img loading="lazy" class="mobile-hide" style="
              width: auto;
              {% if block.settings.icon-size != '100%' %}
                width: {{block.settings.icon-size}}px;
                min-width: {{block.settings.icon-size}}px;
                max-width: {{block.settings.icon-size}}px;
              {% else %}
                width: {{block.settings.icon-size}};
                border-top-left-radius: {{block.settings.border-radius}};
                border-top-right-radius: {{block.settings.border-radius}};
              {% endif %}
            " 
            src="
            {% if block.settings.has-icon %}
                {{ block.settings.icon-image | image_url: height: 500}}
            {% else %}
                {{ 'ds-img-symbol.png' | asset_img_url: 'medium' }}
            {% endif %}"
          />
        {% endif %}

        {% if block.settings.mobile-icon-image != null %}
          <img loading="lazy" class="desktop-hide" style="
              display: flex !important;
              height: auto;
              {% if block.settings.mobile-icon-size != '100%' %}
                width: {{block.settings.mobile-icon-size}}px;
                padding-top: 1em;
                min-width: {{block.settings.mobile-icon-size}}px;
                max-width: {{block.settings.mobile-icon-size}}px;
              {% else %}
                width: {{block.settings.mobile-icon-size}};
                border-top-left-radius: {{block.settings.border-radius}};
                border-top-right-radius: {{block.settings.border-radius}};
              {% endif %}
            " 
            src="
                {% if block.settings.has-icon-mobile %}
                    {{ block.settings.mobile-icon-image | image_url: height: 500}}
                {% else %}    
                    {% if block.settings.has-icon %}
                        {{ block.settings.icon-image | image_url: height: 500}} 
                    {% else %}
                        {{ 'ds-img-symbol.png' | asset_img_url: 'medium' }} 
                    {% endif %}
                {% endif %}
            "
          />
          {% endif %}

      </div>

      {% endif %}
      {% if block.settings.text != empty or block.settings.description-text != empty %}
        <div class="content flex component-feature-padding justify-center">
          {% if block.settings.text != empty %}
            {%- render 'ds-component-h3', 
              fontColor: block.settings.title-font-color, 
              backgroundColor: block.settings.background-color,
              fontSize: block.settings.font-size, 
              fontFamily: block.settings.font-family, 
              align: block.settings.align,
              fontWeight: block.settings.font-weight,
              text: block.settings.text
            -%}
          {% endif %}
          {% if block.settings.description-text != empty %}
            {%- render 'ds-component-paragraph', 
              fontColor: block.settings.description-font-color, 
              backgroundColor: block.settings.description-background-color,
              fontSize: block.settings.description-font-size, 
              fontFamily: block.settings.description-font-family, 
              align: block.settings.description-align,
              fontWeight: block.settings.description-font-weight,
              text: block.settings.description-text
            -%}
          {% endif %}
          {% if block.settings.has-cta %}
            {%- render 'ds-component-cta',
              backgroundColor: block.settings.cta-background-color, 
              fontColor: block.settings.cta-font-color, 
              fontSize: block.settings.cta-font-size, 
              fontWeight: block.settings.cta-font-weight, 
              link: block.settings.link,
              borderRadius: block.settings.cta-border-radius,
              align: block.settings.cta-align,
              text: block.settings.cta-text,
              pulse: block.settings.cta-pulse,
            -%}
          {% endif %}
        </div>
      {% endif %}
  </div>
</div>
  