<div
    style="align-self: {{block.settings.vertical-align-content}};"
    class="ds-component ds-component-feature ds-component-testimonial flex flex-basis-{{section.settings.feature-basis}} flex-column"
  >
  <div
      style="
        background: {{block.settings.background-color}};
        border-radius: {{block.settings.border-radius}};
      "
     class="flex auto-width component-feature flex-column no-padding {% if block.settings.has-shadow %} shadow {% endif %}"
    > 
      {% if block.settings.has-icon %}
      <div class="flex image-wrapper grow-0 justify-center align-items-{{block.settings.image-align}}">
      
      {% if block.settings.icon-image != null %}
        <img loading="lazy" class="mobile-hide" style="
            width: auto;
            height: {{block.settings.icon-size}}px;
            min-height: {{block.settings.icon-size}}px;
            max-height: {{block.settings.icon-size}}px;
          " 
          src="
            {{ block.settings.icon-image | img_url: 'medium'}}
          "
        />
      {% endif %}
      
      {% if block.settings.mobile-icon-image != null %}
        <img loading="lazy" class="desktop-hide" style="
            display: flex !important;
            height: auto;
            width: {{block.settings.mobile-icon-size}}px;
            min-width: {{block.settings.mobile-icon-size}}px;
            max-width: {{block.settings.mobile-icon-size}}px;
          " 
          src="
              {% if block.settings.mobile-icon-image != null %}
                {{ block.settings.mobile-icon-image | img_url: 'medium'}}
              {% else %}    
                {{ block.settings.icon-image | img_url: 'medium'}} 
              {% endif %}
          "
        />

      {% else if block.settings.mobile-icon-image == null %}
        <img loading="lazy" class="desktop-hide" style="
            display: flex !important;
            height: auto;
            width: {{block.settings.mobile-icon-size}}px;
            min-width: {{block.settings.mobile-icon-size}}px;
            max-width: {{block.settings.mobile-icon-size}}px;
          " 
          src="
          {% if block.settings.icon-image != null %}
            {{ block.settings.icon-image | img_url: 'medium'}} 
          {% endif %}
            "
        />
        
      {% endif %}

      </div>
      {% endif %}
      {% if block.settings.text != empty %}
        {%- render 'ds-component-h3', 
          fontColor: block.settings.title-font-color, 
          backgroundColor: block.settings.background-color,
          fontSize: block.settings.font-size, 
          fontFamily: block.settings.font-family, 
          align: block.settings.align,
          fontWeight: block.settings.font-weight,
          text: block.settings.text
        -%}
      {% endif %}
      {% render "ds-star-rating", 
         rating: block.settings.star_rating, 
         fill: block.settings.stars_fill_color, 
         size: block.settings.star_size 
      %}
      {% if block.settings.text != empty or block.settings.description-text != empty %}
        <div class="content flex justify-{{block.settings.image-align}}">
         {%- render 'ds-component-paragraph', 
            fontColor: block.settings.description-font-color, 
            backgroundColor: block.settings.description-background-color,
            fontSize: block.settings.description-font-size, 
            fontFamily: block.settings.description-font-family, 
            align: block.settings.description-align,
            fontWeight: block.settings.description-font-weight,
            text: block.settings.description-text
          -%}
        </div>
      {% endif %}
    </div>
  </div>
    