<!-- DESKTOP -->
<div id="{{section.settings.heading}}" style="
          background: {{section.settings.background-color}} 
            {% if section.settings.background-image %} 
               url('{{section.settings.background-image | img_url: 'master'}}') no-repeat center center; background-size: cover 
            {% endif %}
          ;" class="ds-lp-content one-col {% if section.settings.reverse-on-mobile %}mobile-reverse{% endif %}">
    <div class="Container {{section.settings.padding}} {{section.settings.no-padding}}">
      <div class="center_content container-small flex-column">
         <div class="content">
                           
            {% if section.settings.title_text %}
               {%- render 'ds-component-h1', 
                  fontColor: section.settings.title_font_color, 
                  fontSize: section.settings.title_font_size, 
                  align: section.settings.title_align,
                  fontWeight: section.settings.title_font_weight,
                  text: section.settings.title_text
               -%}
            {% endif %}

            {% if section.settings.description_text %}
               {%- render 'ds-component-paragraph', 
                  fontColor: section.settings.description_font_color, 
                  fontSize: section.settings.description_font_size, 
                  align: section.settings.description_align,
                  fontWeight: section.settings.description_font_weight,
                  text: section.settings.description_text
               -%}
            {% endif %}

            <span></span>
         </div>
      </div> 
      <div class="center_content container-{{section.settings.container-width}} flex-column">  
        <div class="features flex flex-row mobile-flex-row justify-center">
            {% for block in section.blocks %}
              {% case block.type %}

                  {% when 'product' %}
                     {% include 'ds-component-product-card' %}
      
              {% endcase %}
            {% endfor %}
        </div>
      </div>  
    </div>
</div>

{% schema %}
{
   "name":"Dropsmart Combos",
   "class":"lp-content",
   "presets":[
      {
         "name":"Dropsmart - Combos",
         "blocks":[
             {
               "type": "product"
            },
            {
               "type": "product"
            },
            {
               "type": "product"
            }
         ]
      }
   ],
   "blocks":[
      {
         "type":"product",
         "name":"Produto Customizado",
         "settings":[
            {
               "type":"header",
               "content":"Aparência"
            },
            {
               "id":"background-color",
               "type":"color",
               "label":"Cor de fundo",
               "default":"#FFFFFF"
            },
            {
               "type":"select",
               "id":"vertical-align-content",
               "options":[
                  {
                     "value":"center",
                     "label":"Centralizado"
                  },
                  {
                     "value":"flex-start",
                     "label":"Superior"
                  },
                  {
                     "value":"flex-end",
                     "label":"Inferior"
                  }
               ],
               "default":"flex-start",
               "label":"Alinhamento Vertical"
            },
            {
               "id":"border-radius",
               "type":"text",
               "label":"Borda arredondada",
               "default":"15px"
            },
            {
               "id":"has-shadow",
               "type":"checkbox",
               "label":"Aplicar Sombra",
               "default": true
            },
            {
               "type":"header",
               "content":"Foto do Produto"
            },
            {
               "id":"has-icon",
               "type":"checkbox",
               "label":"Utilizar Foto do Produto",
               "default": true
            },
            {
               "id":"icon-image",
               "type":"image_picker",
               "label":"Imagem do Ícone"
            },
            {
               "id":"mobile-icon-image",
               "type":"image_picker",
               "label":"Imagem do Ícone no dispositivo Móvel"
            },
            {
               "type":"header",
               "content":"Destaque"
            },
            {
               "id":"emphasis",
               "type":"text",
               "label":"Frase do destaque",
               "default": "Mais vendido"
            },
            {
               "type":"color",
               "id":"emphasis-background-color",
               "label":"Cor do fundo",
               "default":"#19c149"
            },
            {
               "type":"color",
               "id":"emphasis-font-color",
               "label":"Cor da Fonte",
               "default":"#FFFFFF"
            },
            {
               "type":"select",
               "id":"emphasis-font-size",
               "options":[
                  {
                     "value":"0.75",
                     "label":"Pequeno"
                  },
                  {
                     "value":"0.85",
                     "label":"Médio"
                  },
                  {
                     "value":"1",
                     "label":"Grande"
                  }
               ],
               "default":"0.85",
               "label":"Tamanho da fonte"
            },
            {
               "type":"select",
               "id":"emphasis-font-weight",
               "options":[
                  {
                     "value":"300",
                     "label":"Fino"
                  },
                  {
                     "value":"400",
                     "label":"Normal"
                  },
                  {
                     "value":"600",
                     "label":"Negrito"
                  }
               ],
               "default":"400",
               "label":"Peso da Fonte"
            },
            {
               "type":"header",
               "content":"Título"
            },
            {
               "id":"text",
               "type":"text",
               "label":"Título",
               "default":"Nome do Produto"
            },
            {
               "type":"color",
               "id":"title-font-color",
               "label":"Cor da Fonte",
               "default":"#000000"
            },
            {
               "type":"select",
               "id":"font-size",
               "options":[
                  {
                     "value":"1",
                     "label":"Pequeno"
                  },
                  {
                     "value":"1.25",
                     "label":"Médio"
                  },
                  {
                     "value":"1.5",
                     "label":"Grande"
                  }
               ],
               "default":"1.25",
               "label":"Tamanho da fonte"
            },
            {
               "type":"select",
               "id":"font-weight",
               "options":[
                  {
                     "value":"300",
                     "label":"Fino"
                  },
                  {
                     "value":"400",
                     "label":"Normal"
                  },
                  {
                     "value":"600",
                     "label":"Negrito"
                  }
               ],
               "default":"600",
               "label":"Peso da Fonte"
            },
            {
               "type":"header",
               "content":"Descrição"
            },
            {
               "id":"description-text",
               "type":"richtext",
               "label":"Descrição",
               "default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<p>"
            },
            {
               "type":"color",
               "id":"description-font-color",
               "label":"Cor da Fonte",
               "default":"#000000"
            },
            {
               "type":"select",
               "id":"description-align",
               "options":[
                  {
                     "value":"center",
                     "label":"Centralizado"
                  },
                  {
                     "value":"left",
                     "label":"Esquerda"
                  },
                  {
                     "value":"right",
                     "label":"Direita"
                  }
               ],
               "default":"center",
               "label":"Alinhamento"
            },
            {
               "type":"select",
               "id":"description-font-size",
               "options":[
                  {
                     "value":"0.7",
                     "label":"Pequeno"
                  },
                  {
                     "value":"0.85",
                     "label":"Médio"
                  },
                  {
                     "value":"1",
                     "label":"Grande"
                  }
               ],
               "default":"0.85",
               "label":"Tamanho da Fonte"
            },
            {
               "type":"select",
               "id":"description-font-weight",
               "options":[
                  {
                     "value":"300",
                     "label":"Fino"
                  },
                  {
                     "value":"400",
                     "label":"Normal"
                  },
                  {
                     "value":"600",
                     "label":"Negrito"
                  }
               ],
               "default":"400",
               "label":"Peso da Fonte"
            },
            {
               "type":"header",
               "content":"Preço Sem Desconto"
            },
            {
               "id":"full-price-value",
               "type":"text",
               "label":"Valor",
               "default": "R$ 000,00"
            },
            {
               "type":"color",
               "id":"full-price-font-color",
               "label":"Cor da Fonte",
               "default":"#E63635"
            },
            {
               "type":"select",
               "id":"full-price-font-size",
               "options":[
                  {
                     "value":"0.75",
                     "label":"Pequeno"
                  },
                  {
                     "value":"1",
                     "label":"Médio"
                  },
                  {
                     "value":"1.25",
                     "label":"Grande"
                  }
               ],
               "default":"1",
               "label":"Tamanho da fonte"
            },
            {
               "type":"select",
               "id":"full-price-font-weight",
               "options":[
                  {
                     "value":"300",
                     "label":"Fino"
                  },
                  {
                     "value":"400",
                     "label":"Normal"
                  },
                  {
                     "value":"600",
                     "label":"Negrito"
                  }
               ],
               "default":"400",
               "label":"Peso da Fonte"
            },
            {
               "type":"header",
               "content":"Preço Final"
            },
            {
               "id":"price-value",
               "type":"text",
               "label":"Valor",
               "default": "R$ 000,00"
            },
            {
               "type":"color",
               "id":"price-font-color",
               "label":"Cor da Fonte",
               "default":"#000000"
            },
            {
               "type":"select",
               "id":"price-font-size",
               "options":[
                  {
                     "value":"1",
                     "label":"Pequeno"
                  },
                  {
                     "value":"1.25",
                     "label":"Médio"
                  },
                  {
                     "value":"1.5",
                     "label":"Grande"
                  }
               ],
               "default":"1.25",
               "label":"Tamanho da fonte"
            },
            {
               "type":"select",
               "id":"price-font-weight",
               "options":[
                  {
                     "value":"300",
                     "label":"Fino"
                  },
                  {
                     "value":"400",
                     "label":"Normal"
                  },
                  {
                     "value":"600",
                     "label":"Negrito"
                  }
               ],
               "default":"400",
               "label":"Peso da Fonte"
            },
            {
               "type":"header",
               "content":"Parcelamento"
            },
            {
               "type": "text",
               "id": "installment_number",
               "label": "Número de parcelas",
               "default": "3"
            },
            {
               "type":"color",
               "id":"installment_number_font_color",
               "label":"Cor da Fonte",
               "default":"#000000"
            },
            {
               "type":"select",
               "id":"installment_number_font_size",
               "options":[
                  {
                        "value":"0.75",
                        "label":"Pequeno"
                  },
                  {
                        "value":"0.85",
                        "label":"Médio"
                  },
                  {
                        "value":"1",
                        "label":"Grande"
                  }
               ],
               "default":"0.85",
               "label":"Tamanho da fonte"
            },
            {
               "type": "text",
               "id": "installment_price",
               "label": "Valor da parcela",
               "default": "R$ 00,00"
            },
            {
               "type":"color",
               "id":"installment_price_font_color",
               "label":"Cor da Fonte",
               "default":"#19C149"
            },
            {
               "type":"select",
               "id":"installment_price_font_size",
               "options":[
               {
                     "value":"1.25",
                     "label":"Pequeno"
               },
               {
                     "value":"1.5",
                     "label":"Médio"
               },
               {
                     "value":"1.75",
                     "label":"Grande"
               }
               ],
               "default":"1.5",
               "label":"Tamanho da fonte"
            },
            {
               "type":"header",
               "content":"Botão (CTA)"
            },
            {
               "type":"paragraph",
               "content":"Utilizar http:// ou https:// ao utilizar o campo link"
            },
            {
               "id":"product-link",
               "type":"text",
               "label":"Link do checkout"
            },
            {
               "type":"color",
               "id":"cta-font-color",
               "label":"Cor da Fonte",
               "default":"#FFFFFF"
            },
            {
               "type":"color",
               "id":"cta-background-color",
               "label":"Cor de Fundo",
               "default":"#19C149"
            },
            {
               "id":"cta-text",
               "type":"text",
               "label":"Texto do Botão",
               "default":"Click here"
            },
            {
               "type":"select",
               "id":"cta-font-size",
               "options":[
                  {
                     "value":"0.75",
                     "label":"Pequeno"
                  },
                  {
                     "value":"1",
                     "label":"Médio"
                  },
                  {
                     "value":"1.25",
                     "label":"Grande"
                  }
               ],
               "default":"1",
               "label":"Tamanho da Fonte"
            },
            {
               "type":"select",
               "id":"cta-font-weight",
               "options":[
                  {
                     "value":"300",
                     "label":"Fino"
                  },
                  {
                     "value":"400",
                     "label":"Normal"
                  },
                  {
                     "value":"600",
                     "label":"Negrito"
                  }
               ],
               "default":"400",
               "label":"Peso da Fonte"
            },
            {
               "id":"cta-border-radius",
               "type":"text",
               "label":"Arredondamento de Borda",
               "default":"20px"
            },
            {
               "type":"checkbox",
               "id":"cta-pulse",
               "label":"Botão animado (pulsante)",
               "default":false
            }
         ]
      }
   ],
   "settings":[
      {
         "id":"heading",
         "type":"text",
         "label":"Identificação da Seção",
         "default":"combos"
      },
      {
         "type":"paragraph",
         "content":"Não utilize espaços! A identificação da seção tem como objetivo utilizar botões de ancoragem para a seção. Ex: Para o caso da identifação da seção ser 'novidades', no campo link do Botão, inserir '#novidades'"
      },
      {
         "type":"header",
         "content":"Configurações de Fundo"
      },
      {
         "type":"color",
         "id":"background-color",
         "label":"Cor de Fundo",
         "default":"#FFFFFF"
      },
      {
         "id":"background-image",
         "type":"image_picker",
         "label":"Imagem de Fundo"
      },
      {
         "type":"header",
         "content":"Configurações de formatos"
      },
      {
         "type":"range",
         "id":"feature-basis",
         "min":1,
         "max":4,
         "step":1,
         "unit":"un.",
         "label":"Cards por linha",
         "default":3
      },
      {
         "type":"paragraph",
         "content":"É possível criar linhas com duas colunas utilizando essa opção, e também controlar a posição das colunas quando em dispositivos móveis"
      },
      {
         "type":"header",
         "content":"Configurações de tamanhos"
      },
      {
         "type":"select",
         "id":"padding",
         "options":[
            {
               "value":"space-around-small",
               "label":"Pequeno"
            },
            {
               "value":"space-around-regular",
               "label":"Médio"
            },
            {
               "value":"space-around-large",
               "label":"Grande"
            }
         ],
         "default":"space-around-regular",
         "label":"Espaçamento da Seção"
      },
      {
         "type":"select",
         "id":"no-padding",
         "options":[
            {
               "value":"no-padding-bottom",
               "label":"Remover Inferior"
            },
            {
               "value":"no-padding-top",
               "label":"Remover Superior"
            },
            {
               "value":"no-padding",
               "label":"Remover Ambos"
            },
            {
               "value":"",
               "label":"Não Remover"
            }
         ],
         "default":"",
         "label":"Remover Espaçamento"
      },
      {
         "type":"select",
         "id":"container-width",
         "options":[
            {
               "value":"full",
               "label":"Grande"
            },
            {
               "value":"medium",
               "label":"Médio"
            },
            {
               "value":"small",
               "label":"Pequeno"
            }
         ],
         "default":"medium",
         "label":"Largura do conteúdo"
      },
      {
         "type":"header",
         "content":"Título"
      },
      {
         "id":"title_text",
         "type":"text",
         "label":"Título",
         "default": "Lorem Ipsum"
      },
      {
         "type":"color",
         "id":"title_font_color",
         "label":"Cor da Fonte",
         "default":"#000000"
      },
      {
         "type":"select",
         "id":"title_font_size",
         "options":[
            {
               "value":"1",
               "label":"Pequeno"
            },
            {
               "value":"1.25",
               "label":"Médio"
            },
            {
               "value":"1.5",
               "label":"Grande"
            }
         ],
         "default":"1.25",
         "label":"Tamanho da fonte"
      },
      {
         "type":"select",
         "id":"title_font_weight",
         "options":[
            {
               "value":"300",
               "label":"Fino"
            },
            {
               "value":"400",
               "label":"Normal"
            },
            {
               "value":"600",
               "label":"Negrito"
            }
         ],
         "default":"600",
         "label":"Peso da Fonte"
      },
      {
         "type":"select",
         "id":"title_align",
         "options":[
            {
               "value":"center",
               "label":"Centralizado"
            },
            {
               "value":"left",
               "label":"Esquerda"
            },
            {
               "value":"right",
               "label":"Direita"
            }
         ],
         "default":"center",
         "label":"Alinhamento"
      },
      {
         "type":"header",
         "content":"Descrição"
      },
      {
         "id":"description_text",
         "type":"richtext",
         "label":"Descrição",
         "default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor cursus pellentesque. In in vehicula odio. Vestibulum convallis tellus leo.<p>"
      },
      {
         "type":"color",
         "id":"description_font_color",
         "label":"Cor da Fonte",
         "default":"#000000"
      },
      {
         "type":"select",
         "id":"description_font_size",
         "options":[
            {
               "value":"0.7",
               "label":"Pequeno"
            },
            {
               "value":"0.85",
               "label":"Médio"
            },
            {
               "value":"1",
               "label":"Grande"
            }
         ],
         "default":"0.85",
         "label":"Tamanho da Fonte"
      },
      {
         "type":"select",
         "id":"description_font_weight",
         "options":[
            {
               "value":"300",
               "label":"Fino"
            },
            {
               "value":"400",
               "label":"Normal"
            },
            {
               "value":"600",
               "label":"Negrito"
            }
         ],
         "default":"400",
         "label":"Peso da Fonte"
      },
      {
         "type":"select",
         "id":"description_align",
         "options":[
            {
               "value":"center",
               "label":"Centralizado"
            },
            {
               "value":"left",
               "label":"Esquerda"
            },
            {
               "value":"right",
               "label":"Direita"
            }
         ],
         "default":"center",
         "label":"Alinhamento"
      }
   ]
}
{% endschema %}

{% stylesheet %} {% endstylesheet %}

{% javascript %} {% endjavascript %}